name: Latest blog post summary
on:
  schedule: 
    - cron: '0 * * * *'
  workflow_dispatch: 
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "5"
          committer_username: "pankajsanam"
          committer_email: "pankaj.sanam@gmail.com"
          commit_message: "Updated readme with the latest blog post summary"
          feed_list: "https://slashism.com/rss.xml"
